.about {
  grid-column: 2 / 3;
  grid-row: 1;
  margin: 10px;

  @media (min-width: 650px) {
    margin-top: 50px;
    align-self: start;
  }
}

.about__headline {
  text-align: center;
}

.about__paragraph {
  text-align: justify;
}
