.skills {
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 2;
  margin: 16px;
}

.skills__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}

.skills__list--item {
  margin: 8px 15px 8px 0;
  color: black;
  border: thin solid var(--primary);
  border-radius: 5px;
  padding: 4px;
  color: var(--primary);
}
