.header {
  padding: 20px;
  background: var(--primary);
  margin: -8px -8px 10px -8px;
}

.header__navigation {
  display: flex;
  justify-content: end;
  gap: 7px;
}

.header__navigation--justify-start {
  justify-self: left;
}
