* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--secondary);
  display: grid;
  //margin: 0px;
  color: var(--primary);
}

main {
  @media (min-width: 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
}
